
@{
    ViewBag.TitleUpSection = "ChatRoom";
}


<h2><img class="ImgTitle" src="/Content/UI-Icons/chatRoom.png" />Salle de clavardage</h2>
<hr />
<div class="chatRoomContainer">
    <div class="UpSection" id="UpSection">

        @*<div class="friendsContainer" id="friendsContainer">

            </div>*@
        @*<div class="messagesSectionContainer">
                <div class="messagesInBox" id="messagesInBox">
                    <div class="titleContainer">
                        <span>Aucune Conversation Sélectionnée</span>
                    </div>
                    <div class="messagesContainer"></div>
                </div>
                <div class="sendContainer">
                    <input class="sendInput" type="text" placeholder="Tapez votre message içi ..." />
                    @Helper.Icon("sendIcon", "fa-paper-plane fa-3 sendIcon", "Envoyer le Message")
                </div>
            </div>*@
    </div>
    <div class="sendContainer">
        <input class="sendInput" type="text" placeholder="Tapez votre message içi ..." />
        @Helper.Icon("sendIcon", "fa-paper-plane fa-3 sendIcon", "Envoyer le Message")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(function ()
        {
            let friendsList = new PartialRefresh("@Url.Action("Conv","ChatRoom")", "UpSection", 5, Update);
            $('.sendIcon').click(
                function () {
                    if ($('.sendInput').val().trim() != null && $('.sendInput').val().trim() != "")
                        friendsList.command("@Url.Action("SendMessage", "ChatRoom")" + "?message=" + $('.sendInput').val().trim());

                    $('.sendInput').val('');
                }
            )
            //https://api.jquery.com/keydown/
            $('.sendInput').on('keydown',
                function (event) {
                    if (event.keyCode === 13) {
                        if ($('.sendInput').val().trim() != null || $('.sendInput').val().trim() != "") { }
                        friendsList.command("@Url.Action("SendMessage", "ChatRoom")" + "?message=" + $('.sendInput').val().trim());
                        $('.sendInput').val('');
                    }
                    else if (event.keyCode === 27) {
                        $('.sendInput').val('');
                    }
                }
            )
            function Update() {
                $('.userImgContainer').click(
                    function () {
                        console.log(this.id.split('_')[1]);
                        let id = this.id.split('_')[1];
                        friendsList.command("@Url.Action("SetSelec", "ChatRoom")" + "?usrId=" + id);
                    }
                );
                $('.updateMessage').click(
                    function () {
                        let id = $(this).parent().attr('id').split('_')[1];
                        let value = $(this).parent().find('.sentMessage').find('.modifier').find('.input_modifier').val().trim();
                        friendsList.command("@Url.Action("UpdateMessage", "ChatRoom")" + "?messageId=" + id + "&message=" + value)
                    }
                );
                $('.input_modifier').on('keydown',
                    function (event) {
                        if (event.keyCode === 13) {
                            let id = $(this).parent().parent().parent().attr('id').split('_')[1];
                            let value = $(this).val().trim();
                            friendsList.command("@Url.Action("UpdateMessage", "ChatRoom")" + "?messageId=" + id + "&message=" + value)
                        }
                        else if (event.keyCode === 27) {
                            $('.modifier').hide();
                            $('.updateMessage').hide();
                            $('.deleteMessage').hide();
                            $('.sentMessage > span').show();
                            $('.sentMessage').removeClass("sentMessageModifier");
                        }
                    }
                );
                $('.deleteMessage').click(
                    function () {
                        let id = $(this).parent().attr('id').split('_')[1];
                        friendsList.confirmedCommand("Voulez vous vraiment supprimer le message ?","@Url.Action("DeleteMessage", "ChatRoom")" + "?messageId=" + id)
                    }
                )
            }
    })

</script>
}
